font-family: 'Poppins', sans-serif;
h1{
  margin: auto;
}
body{
  max-width: 500px;
  margin: auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 1vw;
  }
  th {
    text-align: left;
  }
  table img {
width:10vw
  }
hr{
    width:80vw
}